@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenedor-creditos">
    <h3>Créditos</h3>
    <p>Este proyecto fue desarrollado por:</p>

    <div class="equipo">
    
        <div class="miembro">
            <img src="/img/alann.png" alt="Foto de Desarrollador 1" class="foto-miembro" />
            <h5>Alan Gordon</h5>
        </div>


        <div class="miembro">
            <img src="/img/cu.png" alt="Foto de Desarrollador 2" class="foto-miembro" />
            <h5>Nicolas Cukier</h5>
        </div>
    </div>
</div>