@{
    ViewData["Title"] = "cuarta sala";
}

//imagen personaje con el reloj en el brazo derecho 

<h1>La aventura en la cueva</h1>


<p>¿Que hora es?</p>

<img src="img/img2" alt="Imagen">

<form method="post" asp-controller="Juego" asp-action="SeleccionarOpcion">
</form>