@{
    ViewData["Title"] = "Ganaste";
}

<div class="contenedor-ganaste">
    <h1 class="mensaje-ganaste">¡FELICITACIONES, GANASTE!</h1>
    <p class="detalle-ganaste">Lograste escapar de la cueva</p>
    <a asp-action="salaIntro" asp-controller="Home" class="btn-volver">Volver a jugar</a>
</div>
