@{
    ViewData["Title"] = "Ganaste";
}

<div class="contenedor-ganaste">
    <h1 class="mensaje-ganaste">¡FELICITACIONES, GANASTE!</h1>
    <p class="detalle-ganaste">Pudiste lograr escapar!!!!!</p>
</div>