@{
    ViewData["Title"] = "Tercera sala";
}




<div class="contenedor-fondooo">
    <div class="texto-superpuestooo">
     
        
<p>No sueno ni grito, pero puedo hablar,
si sabes leerme, te puedo ayudar.
Me escriben con palos, madera y razón,</p>

        <Form action = '@Url.Action("VerificarAcertijo", "Home")' method = "POST" enctype="multipart/form-data">
         <input type="hidden" name="salaActual" value="3" />
            <input type="text" name="respuesta" placeholder="Tu respuesta..." class="form-control" required />
            <br />
            <button type="submit" class="btn btn-success">Responder</button>
        </form>

        @if (ViewBag.MensajeError != null)
        {
            <p> style="color:red">@ViewBag.MensajeError</p>
        }
    </div>

    
    <h1>Vidas: @ViewBag.vidas</h1>
    <h2>@ViewBag.nombreJugador</h2>
</div>




