<div class="contenedor-fondo11">
    <div class="texto-superpuesto11">
     
<main>

 <p>Ingrese el codigo final:</p>
    <form action='@Url.Action("verificarAcertijo","Home")' method="post">
      <input type="hidden" name="salaActual" value="5" />
      <input type="text" name="respuesta" />
      <button type="submit" class="btn respuesta-btn">Respuesta</button>
    </form>

    <section>
  

     
      <div id="uv-light"></div>

      

  </main>

        @if (ViewBag.MensajeError != null)
        {
            <p style="color:red">@ViewBag.MensajeError</p>
        }
    </div>


    
    <h1>Vidas: @ViewBag.vidas</h1>
    <h2>@ViewBag.nombreJugador</h2>
</div>

 
    
  

  <style>
    #uv-light {
      position: fixed;
      pointer-events: none;
      width: 200%;
      height: 200%;
      background: url('/img/hoyoLuz.png') no-repeat center center;
      background-size: cover;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }
  </style>

  

  <script>
    const uvLight = document.getElementById('uv-light');

    document.addEventListener('mousemove', function (e) {
      uvLight.style.left = `${e.clientX}px`;
      uvLight.style.top = `${e.clientY}px`;
    });
  </script>
</section>
