@{
    ViewData["Title"] = "Inicio del Juego";
}

<img src="img/imagen6" alt="Imagen">

<h5>Bienvenido a la mejor sala de escape del mundo</h5>

<p>En esta sala de escape vas a tener que escapar de una cueva, encontrando los materiales necesarios para escapar.</p>


 <div class = "medio">
            <a href="primeraSala.cshtml">Jugar</a>
        </div>




