@{
    ViewData["Title"] = "Segunda sala";
}

<h1>La aventura en la cueva</h1>

<p>La siguente sala esta tapada con madera.</p>
<p>Vas a necesitar acertar la adivinanza para poder romper la madera y avanzar</p>
<h2>Desde el amanecer al atardecer, quemó a los Zombies que suelen aparecer</h2>
<img src="img/img2" alt="Imagen">

<p>¿A donde vas a ir?</p>

<form method="post" asp-controller="Juego" asp-action="SeleccionarOpcion">
</form>