@{
    ViewData["Title"] = "Segunda sala";
}

<h1>La aventura en la cueva</h1>

<p>La siguente sala esta tapada con madera.</p>
<p>Vas a necesitar algo que pueda romper las tablas.</p>
<img src="img/img2" alt="Imagen">

<p>¿A donde vas a ir?</p>

<form method="post" asp-controller="Juego" asp-action="SeleccionarOpcion">
</form>