@{
    ViewData["Title"] = "Tercera sala";
}

<h1>La aventura en la cueva</h1>

<p>No sueno ni grito, pero puedo hablar,
si sabes leerme, te puedo ayudar.
Me escriben con palos, madera y razón,</p>


<img src="img/img3" alt="Imagen">

<p>¿A donde vas a ir?</p>

<form method="post" asp-controller="Juego" asp-action="SeleccionarOpcion">
</form>