html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {

}



.medio { 
  color: rgb(224, 223, 223);
  background-color: #000000;
  border-radius: 40px;           
  padding: 15px;
  width: 320px;
  margin: 30px auto;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  display: block;
}

.medio a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.medio:hover {
  background-color: #1a1919;
}

.contenedor-fondo {
  height: 100vh; 
  width: 100%;
  background-image: url('/img/img6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuesto {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
}

.contenedor-fondoo {
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: #000; 
}



.btn-primary {
  background: linear-gradient(135deg, #000000, #000000); 
  color: rgb(255, 255, 255); 
  font-weight: bold;
  padding: 10px 20px; 
  border: none; 
  border-radius: 25px; 
  cursor: pointer;
  font-size: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease; 
  margin-bottom: 2%;

}

.btn-primary:hover {
  background: linear-gradient(135deg, #0056b3, #007bff); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); 
  transform: scale(1.05); 
}

.btn-primary:active {
  transform: scale(0.95); /* Efecto de clic */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Sombra reducida */
}

.contenedor-fondoo {
  height: 100vh; 
  width: 100%;
  background-image: url('/img/img3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuestoo {
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  margin-left: 12%;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.respuesta-btn {
  background: linear-gradient(135deg, #000000, #181717); /* Gradiente verde */
  color: white; 
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.respuesta-btn:hover {
  background: linear-gradient(135deg, #0d0e0d, #0a0a0a);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.respuesta-btn:active {
  transform: scale(0.95);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.contenedor-fondooo{
  height: 100vh; 
  width: 100%;
  background-image: url('/img/img2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuestooo{
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-left: 10%;
}

.contenedor-fondooooo{
  height: 100vh; 
  width: 100%;
  margin-left: 2%;
  background-image: url('/img/img4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuestooo{
  color: white;

  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.texto-superpuestooooo{
  color: white;
  margin-top: 10%;
  margin-left: 7%;
  border-radius: 8px;
  font-size: 0.59rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

#uv-light {
  position: fixed;
  pointer-events: none;          /* No interfiere con clicks */
  background: url('/img/hoyoLuz.png') no-repeat center center; /* Ruta a tu imagen */
  background-size: auto;       
  transform: translate(-50%, -50%); 
  z-index: 9999;                
}

#uv-light{
  display: block;
  width: 3000px;;
}

form {
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

.respuestas-btn {
  background: linear-gradient(135deg, #000000, #181717); /* Gradiente atractivo */
  color: white; /* Texto blanco */
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  padding: 0;
  margin: 0;

}

.respuestas-btn:hover {
  background: linear-gradient(135deg, #0d0e0d, #0a0a0a);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.respuestas-btn:active {
  transform: scale(0.95);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}




h1{
  margin-top: 47%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
  margin-top: 47%;

  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.contenedor-fondo5{
  height: 100vh; 
  width: 100%;
  margin-left: 2%;
  background-image: url('/img/img7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuesto5{
  color: white;

  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.contenedor-fondo11{
  height: 100vh; 
  width: 100%;
  background-image: url('/img/imguls.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuesto11{
  color: white;
  margin-top: 19%;
  margin-left: 2%;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.contenedor-creditos {
  text-align: center;
  border-radius: 10px;
  

}



.equipo {
  display: flex;
  justify-content: center;
  gap: 30px;

}

.miembro {
  text-align: center;
  max-width: 200px;
}

.foto-miembro {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Imagen circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.reloj-container {
  text-align: center;
  margin-top: 20px;
}


.reloj {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 220%;
  padding-bottom: 210%;
}

.reloj:hover {
  transform: scale(1.1); 
}

.reloj-dinamico {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.reloj-dinamico img {
  width: 200px; 
  height: auto;
}
a {
  text-decoration: none; 
}
.contenedor-creditos h3{
  font-size: 2rem;
  color: #333;
  padding-bottom: 3%;
}

.contenedor-perdiste {
  text-align: center;
  background-color: #f8f9fa; /* Fondo claro */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.contenedor-fondo9{
  height: 100vh; 
  width: 100%;
  margin-left: 2%;
  background-image: url('/img/imguls.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-superpuesto9{
  color: white;

  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.mensaje-perdiste {
  color: red; /* Mensaje en rojo */
  font-size: 3rem; /* Tamaño grande */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}



.contenedor-fondooooo{
  margin: 0;
  padding: 0;
  width: 100vw; /* Ocupa toda la anchura de la ventana */
  height: 100vh; 
  background-color: #000; 
}

.contenedor-fondo5{
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: #000; 
}

.contenedor-ganaste {
  text-align: center;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 40px; 
  border-radius: 15px; 
  background: linear-gradient(135deg, #d4edda, #c3e6cb); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  max-width: 600px; 
}

.mensaje-ganaste {
  color: #155724; /* Verde oscuro */
  font-size: 3.5rem; /* Tamaño más grande */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin-bottom: 25px; /* Más espacio debajo del mensaje */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra en el texto */
}

.detalle-ganaste {
  font-size: 1.8rem; /* Tamaño más grande */
  color: #155724; /* Texto secundario */
  margin-bottom: 40px; /* Más espacio debajo del detalle */
  font-family: 'Arial', sans-serif;
  line-height: 1.5; /* Mejora la legibilidad */
}

.btn-volver {
  background: linear-gradient(135deg, #28a745, #218838); 
  color: white;
  font-weight: bold;
  padding: 12px 30px;
  border: none; 
  border-radius: 25px; 
  cursor: pointer;
  font-size: 1.2rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease; 
  text-decoration: none; 
}

.btn-volver:hover {
  background: linear-gradient(135deg, #218838, #28a745); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
  transform: scale(1.05); 
}

.btn-volver:active {
  transform: scale(0.95); /* Efecto de clic */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); 
}

h5 {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 10px;
  color:white;
}	


pre {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 10px;
  color:rgb(14, 13, 13);
}	

h3 {
  font-size: 1.5rem;
  color: #555;
}
